.header {
    background: var(--yellow);
    height: 124px;
    padding: 32px 0;
}

.header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--beige);
    width: 100%;
    border-radius: 25px;
}

.header-logo {
    background: var(--periwinkle);
    border-radius: 25px 0 0 25px;
    height: 100%;
    width: 240px;
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.header-nav .header-ul {
    display: flex;
    justify-content: space-between;
    gap: 44px;    
}

.header-phone {
    padding-right: 28px;
}