.offer {
    position: relative;
    margin-top: 64px;
}

.offer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../public/bg.webp');
    background-repeat: repeat;
    background-size: 20%;
    background-position: -10px -15px;
    opacity: 0.3; /* Установите нужный уровень прозрачности */
    z-index: -1; /* Отправляет псевдоэлемент на задний план */
}

.offer-container {
    padding: 52px 0 0 0;
    position: relative;
}

.offer-plane {
    position: absolute;
    top: 190px;
    left: 385px;
}

.offer-trian {
    position: absolute;
    top: 170px;
    right: 138px;
}

.offer-header {
    color: var(--dark-green);
    text-align: center;
}

.offer-header p {
    padding-top: 16px;
    padding-bottom: 179px;
}

.offer-body {
    display: flex;
    justify-content: flex-end;
    gap: 68px;
}

.offer-one, .offer-free {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 166px;
} 

.offer-two {
    min-width: 83px;
}

.offer-free {
    justify-content: center;
}

.offer-card {
    max-width: 480px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.offer-card div {
    width: 380px;

}

.offer-card span {
    color: var(--orange);
    font-size: 128px;
    font-weight: 700;
    position: absolute;
    top: -80px;
    left: -15px;
}

.offer-card-mobile {
    display: none;
}

.offer-way {
    display: block;
}
.offer-frame {
    display: none;
}

@media (max-width: 1439px) {
    .offer-container {
        padding: 52px 20px 0 20px;
    }
}

@media (max-width: 1119px) {
    .offer {
        margin-top: 0;
    }

    .offer::before {
        background-position: -10px -15px;
    }

    .offer-container {
        padding: 0;
    }

    .offer-header p {
        padding-top: 12px;
        padding-bottom: 32px;
    }

    .offer-free-pk {
        display: none;
    }

    .offer-card span {
        color: var(--orange);
        font-size: 88px;
        line-height: 95px;
        position: unset;
        left: unset;
        top: unset;
    }
    .offer-body {
        gap: 0;
        justify-content: center;
    }
    .offer-card {
        display: flex;
        flex-direction: column;

    }
    .offer-card div {
        display: flex;
        flex-direction: column;
        padding: 2px 16px;
        gap: 16px;
        min-width: 444px;
    }
    .offer-one {
        gap: 0;
    }
    .offer-card-mobile {
        display: flex;
    }
    .offer-two {
        position: relative;
    }
    .offer-way {
        display: none;
    }
    .offer-two {
        width: 176px;
        height: 1200px;
        position: relative;
    }
    .offer-frame {
        display: block;
        position: absolute;
        left: -50px;
        bottom: 0;
    }
    .offer-plane {
        display: none;
    }
    .offer-trian {
        position: absolute;
        width: 77px;
        height: 77px;
        top: 10px;
        right: 80px;
    }
}

@media (max-width: 767px) {
    .offer-body {
        justify-content: flex-start;
    }
    .offer-frame {
        left: 70px;
    }
    .offer-trian {
        top: -25px;
        right: 40px;
    }
}