.free-course {
    position: relative;
    padding: 32px 0;
    max-height: 436px;
}

.free-course::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../public/bg.webp');
    background-repeat: repeat;
    background-size: 20%;
    background-position: -10px -10px;
    opacity: 0.3; /* Установите нужный уровень прозрачности */
    z-index: -1; /* Отправляет псевдоэлемент на задний план */
}

.free-course-container {
    background: var(--yellow);
    padding: 84px 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.course-text {
    margin-top: 16px;
    margin-bottom: 32px;
}

.course-qr {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.course-rounds {
    position: absolute;
    top: -25px;
    right: 359px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.course-big {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: var(--beige);
}

.course-small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--beige);
}

.paper {
    position: absolute;
    right: 0;
    top: -84px;
    z-index: 99;
    transform: translate(100%, -100%) rotate(20deg); /* Начальное положение за экраном */
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.line-six {
    position: absolute;
    right: -230px;
    top: -160px;
    z-index: 99;
    stroke-dasharray: 300; /* Задается в зависимости от длины линии */
    stroke-dashoffset: 300;
    opacity: 0;
    transition: stroke-dashoffset 2s ease, opacity 2s ease;
}

/* Активные классы для запуска анимации */
.paper.active {
    transform: translateX(0);
    opacity: 1;
}

.line-six.active {
    stroke-dashoffset: 0;
    opacity: 1;
}

.course-small-tablet {
    display: none;
}

@media (max-width: 1119px) {
    .free-course {
        padding-top: 0;
        padding-bottom: 85px;
    }

    .paper, .line-six {
        display: none;
    }

    .free-course-container {
        padding: 32px 28px;
    }

    .course-text {
        margin-bottom: 20px;
        max-width: 423px;
    }

    .course-qr {
        align-items: center;
        gap: 16px;
    }

    .course-qr img {
        min-width: 180px;
        min-height: 180px;
    }

    .course-rounds {
        top: 0;
        right: 217px;
        gap: 12px;
        max-height: 100%;
    }

    .course-rounds .course-small:first-child,
    .course-rounds .course-small:nth-child(2) {
        display: none;
    }

    .course-big:first-child {
        width: 56px;
        height: 28px;
        border-radius: 0 0 50px 50px;
        background: var(--beige);
    }

    .course-big:last-child {
        width: 56px;
        height: 28px;
        border-radius: 50px 50px 0 0;
        background: var(--beige);
    }
}

@media (max-width: 767px) {
    .free-course {
        max-height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .free-course-container {
        flex-direction: column;
        height: 720px;
        width: 404px;
        padding: 28px;
        position: relative;
    }
    .course-rounds {
        transform: rotate(90deg);
        top: 220px;
        left: -30px;
        width: calc(100% + 56px);
    }
    .course-rounds .course-small:first-child,
    .course-rounds .course-small:nth-child(2),
    .course-small-tablet {
        display: block;
    }
    .course-big {
        width: 40px !important;
        height: 22px !important;
    }
    .course-qr {
        gap: 8px;
    }
    .course-qr h2 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
    }
}