.free-course {
    padding: 32px 0;
    max-height: 436px;
}

.free-course-container {
    background: var(--yellow);
    padding: 84px 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.course-text {
    margin-top: 16px;
    margin-bottom: 32px;
}

.course-qr {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.course-rounds {
    position: absolute;
    top: -25px;
    right: 359px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.course-big {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: var(--beige);
}

.course-small {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--beige);
}

.paper {
    position: absolute;
    right: 0;
    top: -84px;
    z-index: 99;
    transform: translate(100%, -100%) rotate(20deg); /* Начальное положение за экраном */
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.line-six {
    position: absolute;
    right: -230px;
    top: -160px;
    z-index: 99;
    stroke-dasharray: 300; /* Задается в зависимости от длины линии */
    stroke-dashoffset: 300;
    opacity: 0;
    transition: stroke-dashoffset 2s ease, opacity 2s ease;
}

/* Активные классы для запуска анимации */
.paper.active {
    transform: translateX(0);
    opacity: 1;
}

.line-six.active {
    stroke-dashoffset: 0;
    opacity: 1;
}
