.footer {
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../public/bg.webp');
    background-repeat: repeat;
    background-size: 20%;
    background-position: -10px -10px;
    opacity: 0.3; /* Установите нужный уровень прозрачности */
    z-index: -1; /* Отправляет псевдоэлемент на задний план */
}

.footer-container {
    padding: 48px 130px 98px 130px;
    border-radius: 25px 25px 0 0;
    background: var(--grey);
    max-width: 1440px;
    margin: 0 auto;
}