:root {
  --accent: #bac2e9;
  --secondary: #f17d34;
  --black: #040c07;
  --dark-green: #245744;
  --beige: #f5f4f2;
  --yellow: #e1f22a;
  --orange: #f17d34;
  --grey: #d9d9d9;
  --periwinkle: #bac2e9;
  --periwinkle-hover: #a2acd9;
  --white: #fff;
  
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: var(--black);
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
  background: var(--beige);
  color: var(--black);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  overflow-x: hidden;
}

.body-medium {
  font-weight: 700;
}

h1 {
  font-size: 125px;
  line-height: 0.67;
  font-weight: 500;
  text-align: center;
  color: var(--dark-green);
}

h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

.h3-medium {
  font-weight: 500;
  color: var(--black);
}

.mini {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}