.teacher {
    padding: 84px 0;
    z-index: 1;
}

.teacher {
    position: relative;
}

.teacher::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../public/bg.webp');
    background-repeat: repeat;
    background-size: 20%;
    background-position: -10px -10px;
    opacity: 0.3; /* Установите нужный уровень прозрачности */
    z-index: -1; /* Отправляет псевдоэлемент на задний план */
}

.teacher-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.teacher h2 {
    color: var(--dark-green);
    text-align: center;
    width: 100%;
    padding-bottom: 48px;
}

.teacher-one {
    width: 300px;
    position: relative;
}

.teacher-one-text {
    position: absolute;
    top: 88px;
    width: 100%;
    text-align: center;
}

.teacher-one-arrow {
    position: absolute;
    top: 155px;
    right: 20px;
}

.teacher-one-chart {
    position: absolute;
    left: 19px;
    bottom: 81px;
}

.teacher-two {
    width: 300px;
    position: relative;
}

.teacher-one-text-one {
    position: absolute;
    top: 88px;
    text-align: center;
    white-space: nowrap;
}

.teacher-one-text-two {
    position: absolute;
    bottom: 16px;
    text-align: center;
}

.teacher-one-arrow-top {
    position: absolute;
    top: 161px;
}

.teacher-one-arrow-bot {
    position: absolute;
    bottom: 55px;
    left: -45px;
}

.teacher-block {
    width: 379px;
    height: 460px;
}

.teacher-block-name {
    font-weight: 500;
    text-align: center;
    padding-top: 16px;
}

.teacher-one-arrow-bot-mobile {
    display: none;
}

@media (max-width: 1119px) {
    .teacher {
        padding: 60px 0;
    }
    .teacher h2 {
        padding-bottom: 32px;
    }
    .teacher-block {
        text-align: center;
        white-space: nowrap;
    }
    .teacher-block img {
        width: 229px;
    }
    .teacher-container {
        flex-wrap: nowrap;
        gap: 16px;
    }
    .teacher-block {
        width: unset;
        height: unset;
    }
    .teacher-one, .teacher-two {
        max-width: 260px;
    }
    .teacher-one-chart {
        width: 90px;
        height: 76px;
        left: 83px;
        bottom: 49px;
    }
    .teacher-one-text {
        top: 50px;
        right: -10px;
    }
    .teacher-one-text-one {
        top: 10px;
        white-space: wrap;
    }
    .teacher-one-text-two {
        bottom: 86px;
    }
    .teacher-one-arrow {
        width: 40px;
        top: 100px;
        right: 0;
    }
    .teacher-one-arrow-top {
        top: 71px;
        width: 40px;
    }
    .teacher-one-arrow-bot {
        display: none;
    }
    .teacher-one-arrow-bot-mobile {
        display: block;
        transform: rotate(180deg);
        position: absolute;
        top: 121px;
    }
}

@media (max-width: 767px) {
    .teacher-block {
        order: 1;
        padding: 0 20px;
    }
    .teacher-one, .teacher-two {
        order: 2;
    }
    .teacher-one-chart {
        display: none;
    }
    .teacher-one-text {
        top: 0;
        left: 0;
        width: 232px;
    }
    .teacher-one-text-one {
        top: 90px;
        left: -155px;
        white-space: wrap;
        width: 248px;
    }
    .teacher-one-text-two {
        bottom: -15px;
        width: 232px;
        left: -140px;
    }
    .teacher-one-arrow {
        display: none;
    }
    .teacher-one-arrow-top {
        top: 45px;
        left: -165px;
        width: 40px;
    }
    .teacher-one-arrow-bot {
        display: block;
        transform: scale(1, 1) rotate(-60deg);
        width: 35px;
        bottom: 135px;
        left: -140px;
    }
    .teacher-one-arrow-bot-mobile {
        display: block;
        transform: rotate(180deg);
        position: absolute;
        top: 221px;
        left: -142px;
    }
}