.teacher {
    padding: 84px 0;
    z-index: 1;
}

.teacher {
    position: relative;
}

.teacher::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../public/bg.webp');
    background-repeat: repeat;
    background-size: 20%;
    background-position: -10px -10px;
    opacity: 0.3; /* Установите нужный уровень прозрачности */
    z-index: -1; /* Отправляет псевдоэлемент на задний план */
}

.teacher-container {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.teacher-container h2 {
    color: var(--dark-green);
    text-align: center;
    width: 100%;
}

.teacher-one {
    width: 300px;
    position: relative;
}

.teacher-one-text {
    position: absolute;
    top: 88px;
    width: 100%;
    text-align: center;
}

.teacher-one-arrow {
    position: absolute;
    top: 155px;
    right: 20px;
}

.teacher-one-chart {
    position: absolute;
    left: 19px;
    bottom: 81px;
}

.teacher-two {
    width: 300px;
    position: relative;
}

.teacher-one-text-one {
    position: absolute;
    top: 88px;
    text-align: center;
    white-space: nowrap;
}

.teacher-one-text-two {
    position: absolute;
    bottom: 16px;
    text-align: center;
}

.teacher-one-arrow-top {
    position: absolute;
    top: 161px;
}

.teacher-one-arrow-bot {
    position: absolute;
    bottom: 55px;
    left: -45px;
}

.teacher-block {
    width: 379px;
    height: 460px;
}

.teacher-block-name {
    font-weight: 500;
    text-align: center;
    padding-top: 16px;
}

