.QA {
    position: relative;
    padding: 52px 0 84px 0;
}

.QA::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../public/bg.webp');
    background-repeat: repeat;
    background-size: 20%;
    background-position: -10px -10px;
    opacity: 0.3; /* Установите нужный уровень прозрачности */
    z-index: -1; /* Отправляет псевдоэлемент на задний план */
}

.QA-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: relative;
}

.QA-container h2 {
    margin-bottom: 48px;
    color: var(--dark-green);
    text-align: center;
}

.accordion-item {
    border-radius: 25px;
    overflow: hidden;
    width: 844px;
}

.accordion-question {
    background-color: var(--white);
    padding: 28px 32px;
    width: 844px;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.accordion-question span {
    display: flex;
    gap: 12px;
}

.accordion-answer {
    padding: 0 76px 28px 80px;
    background-color: #fff;
    animation: slideDown 0.3s ease-out, slideUp 0.3s ease-out;
}

.accordion-question div img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 100px;
    }
}

.formula {
    position: absolute;
    top: 25px;
    left: 0;
}

.pen {
    position: absolute;
    top: 206px;
    right: -60px;
}

@media (max-width: 1119px) {
    .QA {
        padding: 64px 0;
    }
    .formula {
        width: 147px;
        top: -30px;
    }
    .pen {
        width: 85px;
        height: 85px;
        top: 0;
        right: 0;
    }
    .accordion-item {
        width: 728px;
    }

    .accordion-question {
        width: 728px;
        border-radius: 50px;
        padding: 16px 20px;
    }
    .accordion-question h3 {
        width: 260px;
    }
    .accordion-question span img {
        width: 26px;
        height: 26px;
    }
    .accordion-item.open .accordion-question {
        border-radius: 50px 50px 0 0;
    }
    .accordion-item.open .accordion-answer {
        border-radius: 0 0 50px 50px;
    }
}

@media (max-width: 767px) {
    .accordion-item, .accordion-question {
        width: 534px;
    }
    .formula, .pen {
        display: none;
    }
}